
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  body {
      
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    header {
      background-color: #343a40;
      color: white;
      padding: 1em 0;
      width: 100%;
    }
    
    nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
    }
    
    nav ul li {
      margin: 0 1em;
    }
    
    nav ul li a {
      color: white;
      text-decoration: none;
    }
.main-inicio {
    padding: 2em;
    text-align: center;
    background-image: url(../assets/fondoLibro.jpg);
    background-size: 100%;
}

.intro {
    max-width: 800px;
    margin: 10vh auto 10vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border: 2px azure solid;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
    border-radius: 15px;
    opacity: .7;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro p {
    font-size: 24px;
    margin:20px ;
  }
  /*Botones de navegacion*/
  .cont-botones {
    margin: 20px;
    display: flex;
    gap: 35px;
  }
  .cont-botones a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border: 2px azure solid;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
    border-radius: 15px;
    font-size: 20px;
  }
  .cont-botones a:hover {
    background-color: antiquewhite;
  }
  @media (max-width :570px){
    .cont-botones {
      margin: 10px;
      gap: 5px;
    }
    .intro h1 {
      font-size: 30px;
    }
    .intro p {
      font-size: 16px;
      margin:5px ;
    }
    .cont-botones a {
      font-size: 16px;
      padding: 5px 10px;
    }
  }
  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

