body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #343a40;
    color: white;
    padding: 1em 0;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 2em;
    text-align: center;
    background-color: #5c6064;
  }
  
  .intro {
    max-width: 800px;
    margin: 0 auto;
  }
  .characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: auto;
  }
  /* Estilos grilla y cards de personajes*/
  .grid {
    background-color: #343a40;
    display: grid;
    grid-template-columns:1fr 1fr ;
    border-radius: 15px;
    gap: 50px;
    padding: 50px; ;
    width: 80%;
   
  }
  @media (max-width:520px){
    .grid {
    grid-template-columns: 1fr;
  }
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:radial-gradient(circle, wheat,rgb(240, 178, 62));
    border-radius: 15px;
    transition: 0.4s ease;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
  }
  .card :hover{
    scale: 1.01;
  }
  .image {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: #343a40 5px solid;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
  }
  @media (max-width:640px){
.image {
  width: 150px;
}
}
@media (max-width:520px){
  .image {
    width: 200px;
  }

  }
  .titulo {
    width:80% ;
    border: 1px solid #343a40;
    background:radial-gradient(circle,#5c6064,#343a40);
    padding: 10px 5px;
    border: #343a40 5px solid;
    border-radius: 15px;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
  }
  .Gryffindor {
    background:radial-gradient(circle, orange,orangered);
    padding: 10px 5px;
    border-radius: 15px;
    width: 40%;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
  }
  .Slytherin {
    background:radial-gradient(circle, rgb(82, 227, 82),green);
    padding: 10px 5px;
    border-radius: 15px;
    width: 40%;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
  }
  .Ravenclaw {
    background:radial-gradient(circle,rgb(0, 85, 255),blue);
    padding: 10px 5px;
    border-radius: 15px;
    width: 40%;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);

  }
  .Hufflepuff {
    background:radial-gradient(circle,yellow,rgb(255, 230, 0));
    padding: 10px 5px;
    border-radius: 15px;
    width: 40%;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);

  }
  .Half-Blood , .Pure-Blood,.MuggleBorn, .Muggle, .Quib {
    border: 1px solid #343a40;
    background:radial-gradient(circle,#5c6064,#343a40);
    padding: 10px 5px;
    border-radius: 15px;
    width: 40%;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
  }
  .wizard   {
    border: 1px solid #343a40;
    background:radial-gradient(circle,#5c6064,#343a40);
    padding: 10px 5px;
    border-radius: 15px;
    width: 40%;
    box-shadow: 3px 10px 20px -7px rgba(0,0,0,0.62);
  }
 
  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }